<div class="artist-result-container">
    {{#each items}}
    <div class="artist-display">

        <img src="{{images.[1].url}}" alt="{{name}}">
        <div class="artis-name-bottom">
            <h3>{{name}}</h3>
            <a href="/albums/{{id}}">View Albums</a>
        </div>
    </div>
    {{/each}}
</div>