<ul>
    {{#each items}}
    <li>
        <h3>{{name}}</h3>
        {{#if preview_url}}

        <figure>
            <figcaption>Listen to the T-Rex:</figcaption>
            <audio controls src="{{preview_url}}">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
        </figure>

        {{else}}
        <p>no audio available sorry</p>
        {{/if}}
    </li>
    {{/each}}
</ul>