<div class="tracks-ul-container">
    <div class="title-listen-container">
        <h2>Title</h2>
        <h2>Listen</h2>
    </div>
    <ul class="tracks-container">
        {{#each items}}
        <li class="track-title-controlls">
            <h5>{{name}}</h5>
            {{#if preview_url}}

            <figure>
                <audio controls src="{{preview_url}}">
                    Your browser does not support the
                    <code>audio</code> element.
                </audio>
            </figure>

            {{else}}
            <p>no audio available sorry</p>
            {{/if}}
        </li>
        {{/each}}
    </ul>
</div>